.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
  }
  

  .nav-bar {
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    gap: 4rem;
  }

  
  .nav-item {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);

  }