.brand-type {
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    text-transform: uppercase;
    line-height:12vh;
}

.orange-stroke {
    -webkit-text-stroke-color: #f4631c;
}


.active-nav-item > p {
    -webkit-text-stroke-color: white !important;
    color: #f4631c !important;
}
