@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  Font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background: #242526;
}

body {
  margin: 0;
  padding: 0;
  
}
p {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}