@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: black;
  height:100%;
   min-height:100%; 
}

  body {
  height:100%;
  min-height:100%; 
  
}

p {
  font-size: 35px;
}

h2 {
  font-size: 45px;
}

.standard-text {
  @apply text-[40px] lg:text-[28px]
}

