@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: black;
}

body {
  margin: 0;
  padding: 0;
  
}

p {
  font-size: 30px;
}

h1 {
  font-size: 40px;
}